@import '~flamework/vars';
@import 'vars.scss';

#Footer {
  // background-color: #272834;
  background-color: darken($primary, 30%);
  color: $white7;
  font-size: .85rem;

  @media #{$mobile} {
    text-align: center;
  }

  .footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .link {
    &:hover {
      color: lighten($primary, 30%);
    }
  }

  .footer-hero {
    a { margin: .2rem .5rem }

    @media #{$mobile} {
      margin-top: 2rem;
    }
  }
}
