@import '~flamework/vars';
@import 'vars.scss';

.form {
  padding: 2rem;
  border-radius: $radius;
  background-color: white;
  border: 2pt solid $alt;
  color: $black8;
  margin-top: 1rem;
  margin-bottom: 1rem;
  @include shadow;

  @media #{$mobile} {
    width: 100%;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
  }

  b { color: $alt }

  input, textarea {
    padding: .5em;
    border: 1.5pt solid $black3;
    border-radius: $radius;
    outline: none;
    font-weight: 600;
    width: 100%;

    &:focus {
      border-color: $alt;
    }

    &.true[type="submit"] {
      opacity: .5;
    }
  }

  .input {
    display: block;
    > span {
      font-size: 70%;
      padding-left: .65rem;
    }
  }

  .check {
    overflow: hidden;
    input {
      position: absolute;
      z-index: -1;
      left: -899%;
    }
  }

  .phone-false {
    @include transition();
    overflow: hidden;
    max-height: 0;
  }

  .phone-true {
    @include transition();
    overflow: hidden;
    max-height: none;
    padding: .2em;
    input {
      background-color: $whatsapp-chat-bubble;
      border-color: darken($whatsapp-chat-bubble, 15%);
      @include shadow();
    }
  }
}

.compact {
  background-color: $primary;
}

.radio-group {
  margin: 1rem 0;

  label {
    display: inline-block;
    margin: .2rem;
    padding: .25rem .5rem;
    border-radius: $radius * 3;
    cursor: pointer;
    user-select: none;
    color: darken($alt, 20%);
    background-color: rgba($alt, .1);
    @include transition;

    > span { text-transform: capitalize }

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      background-color: rgba($alt, .25);
    }

    &.true {
      background-color: rgba($alt, .4);
      color: darken($alt, 30%);
      font-weight: 600;
      transform: scale(1.05);
    }
  }

  input {
    // width: auto;
    // margin-left: .5em;
    display: none;
  }
}
