@import 'vars';
@import '~flamework';

:root, html, body {
  font-weight: 400;
  font-size: 110%;
  @media #{$mobile} {
    font-size: 105%;
  }
}

.button.primary {
  background-color: $alt;
  color: white;
  font-weight: 600;
}

.facebook {
  font-size: .9rem;
  background-color: $facebook;
  color: white;
  font-weight: 400;
  @include shadow;
}

.google {
  font-size: .9rem;
  background-color: white;
  color: $google;
  font-weight: 400;
  @include shadow;
}

.whatsapp {
  font-size: .9rem;
  color: white;
  background-color: $whatsapp;
  font-weight: 400;
  @include shadow;
}

.button {
  .svg-inline--fa {
    margin-right: .5em;
  }
}
