@import 'styles/vars.scss';

.header {
  min-height: 180pt;
  padding-bottom: 4rem;
  color: white;
  background-image: url(images/user-splash.jpg);
  background-attachment: fixed;
}

.status {
  margin: .25rem 1rem;
  padding: .5rem 1rem;
  border-radius: $radius;
  background-color: $indenizou;
  line-height: 1;
  text-transform: capitalize;
}

.sections {
  margin-bottom: 5rem;
}

.data {
  margin-top: -2rem;
  padding: 2rem;
  border-radius: $radius;
  background-color: white;
  max-width: 36rem;

  select {
    padding: .25rem .8rem;
    outline: initial;
  }

  textarea {
    padding: .5em;
    border-radius: $radius;
    width: 100%;
  }

  > div > h6 {
    margin-left: 1rem;
  }
}

.files {
  padding: 2rem;
}

.radio {
  line-height: 1;
  margin: .5rem 0;
  span {
    display: inline-block;
  }
  input {
    margin-right: .5rem;
    width: 1.05rem;
    height: 1.05rem;
  }
}
