@import '~flamework/vars';
@import 'styles/vars.scss';

nav#topbar {
  width: 100%;
  padding: .2rem;
  color: $black8;
  background: darken(white, 2%);
  font-size: .9rem;
  @include shadow;

  @media #{$mobile} {
    background-color: darken(white, 2%);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 0 0 auto;
    overflow-y: auto;

    a {
      display: block;
      height: auto;
      padding: .5em 1.5em;
      color: currentColor;
      border: 1pt solid transparent;
      border-radius: $radius * 3;
      line-height: 1.2;
      text-align: center;
      user-select: none;
      cursor: pointer;
      margin: .25em .5em;

      &.active, &:hover {
        border-color: $indenizou;
        background-color: $indenizou;
        color: white;
      }
    }
  }
}

#nav-logo {
  position: relative;
  display: block;
  width: 2em;
  height: 100%;
  color: $indenizou;
}
